* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body h1{
    text-align: center;
    text-decoration: underline rgb(54, 54, 233);
    color: #fff;
    font-size: 22px;
}
body {
    background-color:rgb(8, 8, 49);
    padding: 20px 0;
}

#nav {
    margin: 20px 0px;
    margin-left: 120px;
    margin-left: 37.8%;
    
}
li a {
    color: aliceblue;
    font-weight: 600;
    text-decoration: none;
 }
 ul {
    display: flex;
    text-align: right;
}

ul li{
    text-align: right;
    list-style-type: none;
    display:block;
    margin: 0 25px;
}
 li a:hover{
     color:rgb(9, 110, 110);
     transition: 0.3s;
 }
#cards{
    background-color:rgb(8, 8, 49);
    padding: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 100px 300px;
    margin: -89px 0;
}

#card div{
    background-color:rgb(10, 10, 75);
    width: 150px;
    text-align: center;
    color: #fff;
    padding: 25px;
    border-radius: 12px;
    height: 180px;
    margin: 20px 50px;
    /* box-shadow: 0px 2px 8px rgb(165, 167, 190); */
}
#card div:hover{
    box-shadow: 0px 2px 8px rgb(165, 167, 190);
    cursor: pointer;
}
img {
    height: 55px;
    /* background-color: rgb(55, 44, 202); */
    border-radius: 29px;
    
}
#card h3 {
    font-size: 15px;
    margin: 10px 0;

}
#card p {
    font-size: 12px;
    /* text-align: left; */
}
.icon {
    margin: 20px 0;
}
